{% extends 'AdminBundle::home_page.html.twig' %}

{% block body %}

    <!-- Page header -->
    <div class="page-heading animated fadeInDownBig">
        <h1>Création d'un <strong>Flux Rss</strong></h1>
    </div>
    <!-- End page header -->


    <div class="box-info">

        {{ form_start(form, {"attr": {"class": "form-horizontal form-creation"} }) }}
        {{ form_errors(form) }}

        <section>


            <!-- Name of FLux Rss -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    {{ form_widget(form.name, {"attr": {"class": "form-control", "placeholder": "Nom du site - Catégorie"} }) }}
                </div>
            </div>

            <!-- Url of FLux Rss -->
            <div class="form-group">
                <label class="col-sm-2 control-label">L'url du Flux Rss</label>
                <div class="col-sm-10">
                    {{ form_widget(form.url, {"attr": {"class": "form-control"} }) }}
                </div>
            </div>
        </section>

        <button style="float: right" class="btn btn-primary" type="submit">Enregistrer</button>

        {{ form_end(form) }}

    </div>

{% endblock %}