{% extends 'AdminBundle::home_page.html.twig' %}

{% block body %}
    <div class="row admin-article-checking-tool">

        <div class="col-sm-3 col-xs-6">
            <div class="box-info">
                <div class="icon-box">
                    <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x warning"></i>
                    <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="text-box">
                    <h3>Plagiarisme</h3>
                    <p>website</p>
                </div>
                <div class="clear"></div>
                <ul>
                    <a target="_blank" href="http://www.duplichecker.com/"><li>DupliChecker</li></a>
                    <a target="_blank" href="https://copyleaks.com/"><li>CopyLeaks</li></a>
                    <a target="_blank" href="http://www.paperrater.com/"><li>PaperRater</li></a>
                    <a target="_blank" href="http://plagiarisma.net/"><li>Plagiarisma</li></a>
                    <a target="_blank" href="http://www.plagiarismchecker.com/help-teachers.php"><li>PlagiarismChecker</li></a>
                </ul>
            </div>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="box-info">
                <div class="icon-box">
                    <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x info"></i>
                    <i class="fa fa-font fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="text-box">
                    <h3>Orthographe</h3>
                    <p>website</p>
                </div>
                <div class="clear"></div>
                <ul>
                    <a target="_blank" href="http://bonpatron.com/"><li>BonPatron</li></a>
                    <a target="_blank" href="http://www.cordial-enligne.fr/"><li>cordial-enligne</li></a>
                    <a target="_blank" href="http://www.paperrater.com/"><li>PaperRater</li></a>
                    <a target="_blank" href="http://www.reverso.net/orthographe/correcteur-francais/"><li>Reverso</li></a>
                    <a target="_blank" href="http://www.scribens.fr/"><li>Scribens</li></a>
                </ul>
            </div>
        </div>

    </div>

    <!-- Begin Sortable -->
    <div class="box-info full">
        <h2><strong>Liste des</strong> articles en attente de validation</h2>

        {#success#}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-check-circle"></i> Succès !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        {#warning#}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="alert alert-danger" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-bell"></i> Attention !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        {#info#}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-eye"></i> Information !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        <div class="table-responsive">
            <table data-sortable class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 80px">Id</th>
                    <th>Catégorie</th>
                    <th>Auteur</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th style="text-align: center">Visualiser</th>
                    <th >Action</th>
                </tr>
                </thead>

                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.category.name }}</td>
                        <td><strong>{{ article.author.lastname|capitalize}} {{ article.author.firstname|capitalize}}</strong></td>
                        <td>{{ article.name }}</td>
                        <td>{{ article.updatedAt|date("d-m-Y") }}</td>
                        <td style="text-align: center">
                            <div class="btn-group btn-group-xs">
                                <a target="_blank" href="{{ path('preview_article', {'id': article.id}) }}" data-toggle="tooltip" title="Visualiser" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                        <td class="admin-table-article-validation">
                            <div class="btn-group btn-group-xs" style="margin-bottom: 5px">
                                <a  href="{{ path('validation_admin', {'step': 4,'id': article.id}) }}">
                                    <span class="label label-success">Publication</span>
                                </a>
                            </div>
                            <div class="btn-group btn-group-xs" style="margin-bottom: 5px">
                                <a  href="{{ path('admin_update_article', {'id': article.id}) }}">
                                    <span class="label label-info">Modification</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- End div .table-responsive -->
        <!-- Pagination -->
        {{ pagination|raw }}
    </div><!-- End div .box-info .full -->
    <!-- End sortable -->

{% endblock %}
