{% extends 'AdminBundle::home_page.html.twig' %}

{% block body %}
    <!-- Begin Sortable -->
    <div class="box-info full">
        <h2>Liste des <strong>Tags</strong></h2>
        {#success#}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-check-circle"></i> Succès !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        {#warning#}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="alert alert-danger" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-bell"></i> Attention !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        {#info#}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info" style="margin: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><i class="fa fa-eye"></i> Information !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        <div class="table-responsive clearfix">
            <table data-sortable class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 80px">Id</th>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th style="width: 100px">Modifier / Supprimer</th>
                </tr>
                </thead>

                <tbody>
                {% if tag %}
                    {% for t in tag %}
                        <tr>
                            <td>{{ t.id }}</td>
                            <td><strong>{{ t.name }}</strong></td>
                            <td>{{ t.category.name }}</td>
                            <td style="text-align: center">
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('delete_tag', {'idTag': t.id}) }}" data-toggle="tooltip" title="Supprimer" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-times"></i></a>
                                    <a href="{{ path('update_tag', {'idTag': t.id}) }}" data-toggle="tooltip" title="Modifier" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Pas de tag enregistré</p>
                {% endif %}
                </tbody>
            </table>
        </div><!-- End div .table-responsive -->
        <!-- Pagination -->
        {{ pagination|raw }}

    </div><!-- End div .box-info .full -->
    <!-- End sortable -->

{% endblock %}
