*{{ include("BackOfficeBundle:Header:header.html.twig") }}

{% trans_default_domain 'FOSUserBundle' %}

<!-- BODY -->
<body class="tooltips full-content">

    <div class="container">

        <div class="full-content-center animated fadeInDownBig">
            <a href="#fakelink"><img src="{{ asset('bundles/frontoffice/img/logo.png') }}" class="logo-login img-circle" alt="Logo"></a>
            <div class="login-wrap">
                <div class="box-info">
                <h2 class="text-center"><strong>Mot de passe</strong> oublié</h2>
                
                    {{ form_start(form, {'method': 'post', 'action': path('reset_password'), 'attr': {'role': 'form'}}) }}
                        <div class="form-group login-input">
                        <i class="fa fa-user overlay"></i>

                        <!-- <input type="email" class="form-control text-input" placeholder="Votre email"> -->
                        {{ form_widget(form.email, {'attr': {'class': 'form-control text-input', 'placeholder': 'E-mail', 'type': 'email'}}) }}
                        </div>
                        
                        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-lock"></i> Réinitialiser le mot de passe</button>
                    {{ form_end(form) }}
                </div>
                <p class="text-center"><a href="{{ path('for_user_security_login') }}"><i class="fa fa-sign-in"></i> Retour à "Se connecter"</a></p>
            </div>
        </div>

    </div><!-- End div .container -->
    <!-- END PAGE -->
    {{ include("BackOfficeBundle:Js:javascript.html.twig") }}
    </body>
</html>
