{% extends 'BackOfficeBundle::home_page.html.twig' %}

{% block body %}
	<div class="body content rows scroll-y">	
			<!-- Page header -->
		<div class="page-heading animated fadeInDownBig">
			<h1>Messagerie</h1>
		</div>
		<!-- End page header -->
		
		
		<!-- Begin Inbox -->
		<div class="box-info box-messages">
			<div class="row">
				<div class="col-md-2">
					<!-- Sidebar Message -->
					<a href="new-message.html" class="btn btn-success btn-block"><i class="fa fa-edit"></i> Nouveau message</a>
					<div class="list-group menu-message">
					  <a href="{{ path('user_list_inbox') }}" class="list-group-item active">
						Boite de <strong>{{ nb_messages }}</strong> messages
					  </a>
					  <a href="{{ path('user_list_inbox_read_unread', {'mode': 'read'}) }}" class="list-group-item">Lu <strong>({{ nb_read }})</strong></a>
					  <a href="{{ path('user_list_inbox_read_unread', {'mode': 'unread'}) }}" class="list-group-item">Non lu <strong>({{ nb_unread }})</strong></a>
					</div>
				</div><!-- ENd div .col-md-2 -->
	
				
				<div class="col-md-10">
				{{ form(form) }}
						<!-- <form role="form">
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Message à">
							</div>
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Sujet">
							</div>
							<div class="form-group">
								<textarea class="summernote-small form-control"></textarea>
							</div>
						</form> -->
						<!-- <div class="row">
							<div class="col-xs-8">
								<button type="submit" class="btn btn-success btn-sm">Envoyer</button>
								<a href="message.html" class="btn btn-danger btn-sm">Annuler</a>
							</div>
							<div class="col-xs-4">
								<p class="quick-post message">
									<a><i class="fa fa-picture-o"></i></a>
									<a><i class="fa fa-video-camera"></i></a>
									<a><i class="fa fa-paperclip"></i></a>
								</p>
							</div>
						</div>	 -->
							<!-- End new message -->
				</div><!-- End div .col-md-10 -->
			</div><!-- End div .row -->
		</div><!-- End div .box-info -->
		<!-- End inbox -->
		
	</div>
{% endblock %}